extends ./layouts/master.pug

block title
  title Fullstack Test Task

block header
  include ./components/header.pug

block content
  include ./components/content1.pug
  include ./components/content2.pug
  include ./components/content3.pug