html 
    head 
        link(rel='stylesheet', type="text/css", href="/src/views/components/style.css")
        
        
    body
        .content1-back
            .content1-value
                .content1-text1
                    p. 
                        We are <text style="color:#0d6e79">awesome</text></br>
                        
                        <text style="color:#0d6e79">team</text> for your</br>
                        
                        business dream</br>
                .content1-text2
                    p. 
                        Integrated workflow designed for product teams. We</br>
                         
                        create world-class development and branding</br>
                .content1-text3
                        
                        .button-getstarted2
                            .button2-value    
                                .button2-text  
                                    <a>Get Started</a>
                                .button2-arrow
                                    img(src='/src/assets/imgs/template/icons/arrow-small-right-w.svg' )
                        
                        .learn-more 
                            .learn-more-value 
                                .learn-more-text
                                    a Learn More
                                .learn-more-arrow    
                                    img(src='/src/assets/imgs/template/icons/fi-sr-arrow-small-right.svg' )
            .pattern1        
                    img(src='/src/assets/imgs/template/pattern-1.svg')
            .pattern2 
                    img(src='/src/assets/imgs/template/pattern-2.svg')
            .photo 
                    img(src='/src/assets/imgs/template/photo.svg')    
                    
                    

