html 
    head 
        link(rel='stylesheet', type="text/css", href="/Users/kyryc/Desktop/fullstack_dev_test_task-main/src/views/components/style.css")
        
        
    body
        .content1-back
            .content1-value
                .content1-text1
                    p. 
                        We are <text style="color:#0d6e79">awesome</text></br>
                        
                        <text style="color:#0d6e79">team</text> for your</br>
                        
                        business dream</br>
                .content1-text2
                    p. 
                        Integrated workflow designed for product teams. We</br>
                         
                        create world-class development and branding</br>
                .content1-text3
                    <a class="button-getstarted2"> Get Started</a> 
                    a(style="margin-left:-35px;") Learn More


