html 
    head 
        link(rel='stylesheet', type="text/css", href="components/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo&family=Noto+Sans&display=swap" rel="stylesheet">
        
    body
    
        .content1-back
            .section-hero
                .pattern2 
                    img(id="pattern2" src='../assets/imgs/template/pattern-2.svg')
                .pattern1        
                    img(id="pattern1" src='../assets/imgs/template/pattern-1.svg')
                
            .conteiner
                .content1-value
                    .content1-text1
                        p. 
                            We are <text style="color:#0d6e79">awesome</text></br>
                            
                            <text style="color:#0d6e79">team</text> for your</br>
                        
                            business dream</br>
                    .content1-text2
                        p. 
                            Integrated workflow designed for product teams. We</br>
                            
                            create world-class development and branding</br>
                    .content1-text3
                        .button-getstarted2
                            .button2-value    
                                .button2-text  
                                    <a style="color:white">Get Started</a>
                                .button2-arrow
                                    img.arrow(src='../assets/imgs/template/icons/arrow-small-right-w.svg' )
                        
                        .learn-more 
                            .learn-more-value 
                                .learn-more-text
                                    a Learn More
                                .learn-more-arrow    
                                    img.arrow(src='../assets/imgs/template/icons/fi-sr-arrow-small-right.svg')
                        
                .photo      
                    img(id="girl" src='../assets/imgs/template/photo.svg') 
                    

