header(class="header")
    .header-value
        .v
          a.d-flex(href='index.html')
            img(alt='Logo' id="Logo" src='../assets/imgs/template/logo.svg')
        .head-burger 
            span
        include ../components/main-menu.pug
        .button-getstarted
            .button-value
                .button-text
                    a.btn.btn-default.hover-up.icon-arrow-right(href='page-signup.html' style="color:black;") Get Started
                .button-arrow  
                    img(src='../assets/imgs/template/icons/fi-sr-arrow-small-right.svg' )