.he
    .header-value
      .v
          a.d-flex(href='index.html')
            img(alt='Logo' src='/Users/kyryc/Desktop/fullstack_dev_test_task-main/src/assets/imgs/template/logo.svg')
      include ../components/main-menu.pug
      .button-getstarted
          a.btn.btn-default.hover-up.icon-arrow-right(href='page-signup.html' style="color:black;") Get Started