nav
  ul.main-menu
      li
        a.active(href='#' style="font-weight:400; font-size: 18px;" ) Home
      li
        a(href='#' style="font-weight:400; font-size: 18px;") About
      li
        a(href='#' style="font-weight:400; font-size: 18px;") Services
      li
        a(href='#' style="font-weight:400; font-size: 18px;") Company
      li
        a(href='#' style="font-weight:400; font-size: 18px;") Blog
      li
        a(href='#' style="font-weight:400; font-size: 18px;") Contact
      
              