.menu  
      nav
        ul
            li
              a.active.menu-a(href='#' style="font-weight:400; " ) Home
            li
              a.menu-a(href='#' style="font-weight:400; ") About
            li
              a.menu-a(href='#' style="font-weight:400; ") Services
            li
              a.menu-a(href='#' style="font-weight:400; ") Company
            li
              a.menu-a(href='#' style="font-weight:400; ") Blog
            li
              a.menu-a(href='#' style="font-weight:400; ") Contact
        
              